<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ConexaoAutomatica" value="N"/>
    <add key="Mensagem" value="     TSPLUS        TECNOLOGIA   "/>
    <add key="Ip1" value="192"/>
    <add key="Ip2" value="168"/>
    <add key="Ip3" value="1"/>
    <add key="Ip4" value="1"/>
  </appSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
